<ng-container *ngIf="router.isActive('initiatives', true)">
  <div class="globalContainer">
    <h1 class="primaryColor">Initiatives Dashboard</h1>
    <div class="tableContainer">
      <app-search-initiatives
        (filters)="filter($event)"
      ></app-search-initiatives>
      <div class="table">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="INIT-ID">
            <th
              class="big bold center spacing border-left-0"
              mat-header-cell
              *matHeaderCellDef
            >
              INIT-ID
            </th>
            <td
              class="border-left-0 center"
              mat-cell
              *matCellDef="let element"
              style="min-width: 100px"
            >
              {{ element["official_code"] }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Initiative Name">
            <th class="big bold spacing" mat-header-cell *matHeaderCellDef>
              Initiative Name
            </th>
            <td mat-cell *matCellDef="let element" style="min-width: 300px">
              {{ element["name"] }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Risk Category">
            <th class="big bold spacing" mat-header-cell *matHeaderCellDef>
              Risk Categories
            </th>
            <td mat-cell *matCellDef="let element" style="min-width: 250px">
              {{ filterCategories(element["risks"]) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Number of risks">
            <th
              class="big bold center spacing"
              mat-header-cell
              *matHeaderCellDef
            >
              Number of risks
            </th>
            <td
              class="center"
              mat-cell
              *matCellDef="let element"
              style="min-width: 150px"
            >
              {{ element["risks"].length }}
            </td>
          </ng-container>

          <ng-container matColumnDef="My Role">
            <th
              class="big bold center spacing"
              mat-header-cell
              *matHeaderCellDef
            >
              My Role
            </th>
            <td
              mat-cell
              class="center"
              *matCellDef="let element"
              style="min-width: 150px"
            >
              {{ filterRoles(element["roles"]) }}
            </td>
          </ng-container>
          <ng-container
            matColumnDef="Actions"
            style="margin-right: 3px"
            stickyEnd
          >
            <th
              class="big bold center spacing"
              mat-header-cell
              *matHeaderCellDef
            >
              Actions
            </th>
            <td
              class="center"
              style="min-width: 150px"
              mat-cell
              *matCellDef="let element"
            >
              <button
                matTooltip="Initiative Details"
                class="actionButton"
                routerLink="./{{ element['id'] }}/{{
                  element['official_code']
                }}"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-eye-fill"
                  viewBox="0 0 16 16"
                >
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                  <path
                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
                  />
                </svg>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
    <!-- <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageChanged($event)"
      aria-label="Select page"
    >
    </mat-paginator> -->
  </div>
</ng-container>
<router-outlet></router-outlet>
