@import "../../abstracts/variables";
.admin-module-box {
  // max-width: 151.2rem;
  // height: 98.6rem;
  display: flex;

  &__sidebar {
    height: 93.8rem;
    // flex: 0 0 25.6rem;
    width: 18%;
    background-color: $color-side-bar;

    @media only screen and (max-width: 160em) {
      flex: 0 0 25.6rem;
    }
  }

  &__content {
    /* 1140px */
    width: 88%;
    padding: 0 4.5rem;

    // @media only screen and (max-width: 160em) {
    //   max-width: 95%;
    //   margin: 0 auto;
    // }

    // @media only screen and (max-width: 64em) {
    //   padding: 0 3.2rem;
    // }

    background-color: #fafafa;
  }
}

// .user-management-container {
//   /* 1140px */
//   max-width: 116rem;
//   margin: 0 auto;
//   flex: 0 0 75%;
// }
