// @import "../../../../sass/pages/admin-module/user-management";

@import "../../../../sass/abstracts/variables";

.text-hold {
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
  max-width: 454px;
  color: #808080;

  font-family: "Poppins", sans-serif !important;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.example-text-flex {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.drag-text-flex {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  color: #808080;
  font-family: "Poppins", sans-serif !important;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 171.5%; /* 2.401rem */
}

.ww {
  display: inline-block;
}

.qq {
  width: auto;
  height: auto;
}

.submit-box {
  width: auto;
  height: auto;
  background-color: #ffffff;
}

.form-dialog-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.5rem;
  // border-radius: 0.2rem 0.2rem 0rem 0;
  background-color: #436280;
  padding: 0 0.5rem;

  &__text-box {
    width: 62.4rem;
    height: 2.4rem;
    font-family: "Poppins", sans-serif !important;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
  }
  &__icon-box {
    // width: 1.8rem;

    // style="background-color: #2a2e45; border: none; cursor: pointer"

    &__btn {
      border: none;
      background-color: #436280;
      cursor: pointer;
    }
  }
}

.submit-risk-drop-box {
  border-radius: 1rem;
  border: 0.5px solid #808080;
  background: #d9d9d9;
  padding: 16px 10px;
  // border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
  width: 59rem;
}

.example-list {
  width: 59rem;
  padding: 20px 10px;

  flex-shrink: 0;
  border-radius: 1rem;
  border: 0.5px solid #8080808a;
  background: #ffffff;
}

.submit-risk-drop-text-box {
  // padding: 1.5rem 1rem 0 1rem;

  width: 100%;
  flex-shrink: 0;
  border-radius: 1rem;

  color: #808080;
  text-align: center;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  &__text {
    color: #808080;

    font-family: "Poppins", sans-serif !important;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.example-box {
  // width: 55rem;
  // height: 3.5rem;
  flex-shrink: 0;
  border: 0.5px solid #808080ab;
  background-color: #ffffff;
  cursor: move;
  margin-left: 0.5rem;
}

.scroll {
  width: 100%;
  /* margin: 0 auto; */
  overflow: auto;
  padding: -12px 0.5rem;
  height: 13rem;
  position: relative;
  margin-right: -0.5rem;
  padding: 0 0.5rem 0 0;
}

.scroll::-webkit-scrollbar {
  width: 0.6rem;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #808080;
  border-radius: 0.4rem;
  height: 2rem;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: $color-button-primary;
  // outline: 1px solid slategrey;
  border-radius: 4px;
}

.cdk-drag-preview {
  border-radius: 0.5rem;
  border: 0.5px solid #808080;
  background-color: #efd8c9;
}

.cdk-drag-placeholder {
  opacity: 0;
}

// .cdk-drag-animating {
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }

// .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }

.submit-risk-title-1 {
  color: #04030f;
  font-family: "Poppins", sans-serif !important;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin: 0 0 0.3rem -1rem;
  position: relative;
}

.submit-risk-text {
  color: #808080;
  font-family: "Poppins", sans-serif !important;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 0.5rem 1.1rem !important;
}

.submit-risk-box {
  display: flex;
  flex-direction: column;
  gap: -1rem;
}

.form-dialog-content {
  max-width: 60.8rem;
  margin: 2rem auto 2rem;
  background-color: #ffffff;

  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(1, 1fr);
  // column-gap: 3rem;
  // row-gap: 2.5rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  // &__layout--1 {
  //   display: flex;

  //   gap: 55%;
  //   align-items: center;
  // }

  &__layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
}

.submit-risk-drag-flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.submit-risk-drag-text-2 {
  // font-family: "Poppins", sans-serif !important;
  // color: #808080;
  // font-size: 1.4rem;
  // font-style: normal;
  // font-weight: 400;
  // line-height: 171.5%;

  // text-overflow: ellipsis;
  // text-wrap: nowrap;
  // overflow: hidden;
  // max-width: 454px;

  font-family: "Poppins", sans-serif !important;
  color: #808080;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 171.5%;
  text-overflow: ellipsis;
  /* text-wrap: nowrap; */
  overflow: hidden;
  /* max-width: 454px; */
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 12px;
  display: block;
  /* max-width: 450px; */
  /* min-width: 250px; */
  white-space: normal !important;
  width: auto;
  text-align: justify;
}

.submit-risk-drag-text {
  color: #0f212f;
  font-family: "Poppins", sans-serif !important;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 171.5%;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
  max-width: 454px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 12px;
  /* display: block; */
  white-space: normal !important;
  width: auto;
  text-align: justify;
}

.submit-risk-flex-box {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.form-dialog-conten__button-box {
  text-align: end !important;
}
.form-dialog-conten__button-box__btn--send {
  display: flex;
  width: 13rem;
  height: 3.2rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  font-family: "Poppins", sans-serif !important;

  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  letter-spacing: 0em;

  border-radius: 5px;

  box-shadow: 4px 4px 4px 0px #00000040;
  // cursor: url(../../../../../assets/shared-image/Vector-cursor.svg), pointer !important;
  color: #ffffff;
  background-color: #9e553e;
}

.form-dialog-conten-button-box-2 {
  text-align: right;
  margin-top: 2.5rem !important;
  margin-right: 2rem;
}

.form-dialog-conten-button-flex {
  display: -webkit-inline-box;
  align-items: center;
  gap: 2rem;
}

.submit-risk-flex-x {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.2rem;
}

// .risk-report-form-note-content-icon {
//   position: absolute;
//   top: 35%;
//   left: 93%;
//   transform: translate(39%, -50%);
// }

.note-p-t-l {
  // text-align: right;
}

.submit-risk-drag-icon {
  margin: -0.5rem 0 0 0;
}
.drag-box {
  padding: 0.5rem 1rem 0rem 1rem;
  margin-bottom: 3px;
  border: solid 1px #b1b1b1;
  background: #efd8c9;
  border-radius: 8px;
  color: #ffffff;
  text-align: left;
  // width: 55rem;
  // height: 3.5rem;
  height: auto;
  flex-shrink: 0;
  color: #808080;
  font-family: "Poppins", sans-serif !important;

  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 171.5%;
}
.error {
  color: red;
}
