<h1 mat-dialog-title>{{ data ? "Edit project" : "Add project" }}</h1>

<form [formGroup]="form" class="dialog-form">
  <mat-form-field appearance="outline">
    <mat-label>Official code</mat-label>
    <input matInput formControlName="official_code" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-checkbox formControlName="isProject">Is project</mat-checkbox>

  <div class="buttons">
    <button mat-button (click)="ref.close()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</form>
