<div class="form-dialog-header">
  <div class="form-dialog-header__text-box">
    <p class="form-dialog-header__text-box__text">{{ categoryData.title }}</p>
  </div>

  <div class="form-dialog-header__icon-box">
    <button class="form-dialog-header__icon-box__btn" (click)="onCloseDialog()">
      <mat-icon class="form-dialog-header__icon-box__icon-size">
        <img
          class="form-dialog-header__icon-box__icon-size__icon"
          src="../../../assets/shared-image/Vector-close.svg"
          alt="~/Frontend/images/icon _ Vector-close"
        />
      </mat-icon>
    </button>
  </div>
</div>

<div class="form-dialog-content">
  <form [formGroup]="categoryFormData" class="form-dialog-content">
    <!-- //Email filed----- -->

    <div class="form-dialog-content__field--grid-column">
      <div class="form-dialog-content__title-box">
        <mat-label class="form-dialog-content__title-box__title"
          >Category name<span class="star">*</span></mat-label
        >
      </div>
      <mat-form-field
        class="form-dialog-content__field"
        floatLabel="always"
        hideRequiredMarker
        appearance="outline"
      >
        <input matInput formControlName="title" required />
        <mat-error
          class="error"
          *ngIf="categoryFormData?.controls?.title?.errors?.['required']"
          >Category title is required</mat-error
        >
      </mat-form-field>
    </div>

    <div>
      <div class="form-dialog-content__title-box">
        <mat-label class="form-dialog-content__title-box__title"
          >Description<span class="star">*</span></mat-label
        >
      </div>
      <mat-form-field
        class="form-dialog-content__field"
        floatLabel="always"
        hideRequiredMarker
        appearance="outline"
      >
        <textarea matInput formControlName="description" required></textarea>
        <mat-error
          class="error"
          *ngIf="categoryFormData.controls?.description?.errors?.['required']"
          >Description is required</mat-error
        >
      </mat-form-field>
    </div>

    <div>
      <div class="form-dialog-content__title-box">
        <mat-label class="form-dialog-content__title-box__title"
          >Category group<span class="star">*</span></mat-label
        >
      </div>
      <mat-form-field
        class="form-dialog-content__field--2"
        floatLabel="always"
        hideRequiredMarker
        appearance="outline"
      >
        <mat-select
          placeholder="Category group"
          formControlName="category_group_id"
        >
          <mat-option
            *ngFor="let catGroup of categoryGroup"
            [value]="catGroup.id"
          >
            {{ catGroup.name }}
          </mat-option>
        </mat-select>
        <mat-error
          class="error"
          *ngIf="categoryFormData.controls?.category_group_id?.errors?.['required']"
          >Category group is required</mat-error
        >
      </mat-form-field>
    </div>

    <!-- //Update Button----- -->
    <div class="form-dialog-conten-button-box-2">
      <div class="form-dialog-conten__button-box">
        <button
          *ngIf="!categoryData.element"
          class="form-dialog-conten__button-box__btn"
          type="submit"
          mat-raised-button
          (click)="onSubmit()"
        >
          Add
        </button>
      </div>
      <div class="form-dialog-conten__button-box">
        <button
          *ngIf="categoryData.element"
          class="form-dialog-conten__button-box__btn"
          type="submit"
          mat-raised-button
          color="primary"
          (click)="onSubmit()"
        >
          Update
        </button>
      </div>
    </div>
  </form>
</div>
