<ng-container>
    <div class="globalContainer">
      <div class="head">
        <h1>Announcement</h1>
        <div class="buttons"></div>
      </div>
      <div class="tableContainer">
          <form [formGroup]="announcementForm">
            <mat-form-field class="input">
                <mat-label>Announcement Subject</mat-label>
                <input matInput  formControlName="subject">
            </mat-form-field>
            <h1>
                <div class="NgxEditor__Wrapper">
                    <ngx-editor-menu [toolbar]="toolbar" [editor]="editor"> </ngx-editor-menu>
                    <ngx-editor [editor]="editor" [ngModel]="html" [disabled]="false" [placeholder]="'Type here...'" formControlName="description"></ngx-editor>
                </div>
                <div class="alert" *ngIf="announcementForm.controls.description.errors && announcementForm.controls.description.touched">
                    <p>This is required max 1500</p>
                </div>
            </h1>
          </form>
      </div>
      <div class="footer">
        <button mat-raised-button color="primary" (click)="onSubmit()" >Submit</button>
        <button mat-raised-button color="warn" (click)="onClose()">Close</button>
    </div>
    </div>
</ng-container>
  