<mat-card>
  <mat-card-header>
    <!-- <mat-card-subtitle>Filters</mat-card-subtitle> -->
  </mat-card-header>

  <mat-card-content>
    <form *ngIf="filterForm" [formGroup]="filterForm">
      <mat-form-field class="w-30" appearance="outline">
        <input formControlName="title" matInput placeholder="Title" />
      </mat-form-field>
      <mat-form-field class="w-auto" appearance="outline">
        <mat-select placeholder="Risk Category" formControlName="category">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let riskCat of categories" [value]="riskCat.id">
            {{ riskCat.title }}

            <mat-icon [matTooltip]="riskCat.description" matSuffix
            >help_outline</mat-icon>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-auto" appearance="outline">
        <mat-select placeholder="Risk Raiser" formControlName="created_by">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let user of riskRaiser" [value]="user.id">
            {{ user?.full_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-auto" appearance="outline">
        <mat-select placeholder="Risk Owner" formControlName="owner">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let user of riskUsers" [value]="user.id">
            {{ user?.user?.full_name ||  user?.email }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-auto" appearance="outline">
        <mat-select placeholder="Sort" formControlName="sort">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let item of sort" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <mat-checkbox
    labelPosition="before"
      [(ngModel)]="redundant"
      (ngModelChange)="redundantChange()"
    >
    Show Redundant risk
    </mat-checkbox>
    <button mat-raised-button color="accent" (click)="resetForm()">
      Reset
    </button>
    <!-- <button mat-raised-button color="primary"  (click)="resetForm()">Filter</button> -->
  </mat-card-actions>
</mat-card>
