form {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 140px;
}

.input{
    width: 90%;
    margin: 10px auto;
}

.footer{
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
}

.footer .buttons a{
    margin-left: 5px ;
}