<div class="form-dialog-header">
  <div class="form-dialog-header__text-box">
    <p class="form-dialog-header__text-box__text">
      {{ data?.action == "Edit" ? "Edit" : "New" }} glossary
    </p>
  </div>

  <div class="form-dialog-header__icon-box">
    <button class="form-dialog-header__icon-box__btn" (click)="onCloseDialog()">
      <mat-icon class="form-dialog-header__icon-box__icon-size">
        <img
          class="form-dialog-header__icon-box__icon-size__icon"
          src="../../../assets/shared-image/Vector-close.svg"
          alt="~/Frontend/images/icon _ Vector-close"
        />
      </mat-icon>
    </button>
  </div>
</div>

<div class="form-dialog-content">
  <form *ngIf="glossaryForm" [formGroup]="glossaryForm" class="form-dialog-content">
    <!-- //Email filed----- -->

    <div class="form-dialog-content__field--grid-column">
      <div class="form-dialog-content__title-box">
        <mat-label class="form-dialog-content__title-box__title"
          >Title<span class="star">*</span></mat-label
        >
      </div>
      <mat-form-field
        class="form-dialog-content__field"
        floatLabel="always"
        hideRequiredMarker
        appearance="outline"
      >
        <input matInput formControlName="title"  placeholder="Title" />
        <mat-error
          class="error"
          *ngIf="glossaryForm.controls?.title?.errors?.['required']"
          >Title title is required</mat-error
        >
      </mat-form-field>
    </div>






    <div class="form-dialog-content__field--grid-column">
      <div class="form-dialog-content__title-box">
        <mat-label class="form-dialog-content__title-box__title"
          >Description<span class="star">*</span></mat-label
        >
      </div>
      <mat-form-field
        class="form-dialog-content__field"
        floatLabel="always"
        hideRequiredMarker
        appearance="outline"
      >
        <textarea matInput formControlName="description"  placeholder="Description"></textarea>
        <mat-error
        class="error"
        *ngIf="glossaryForm.controls?.description?.errors?.['required']"
        >Description is required</mat-error
      >
      </mat-form-field>
    </div>



    
    <!-- //Update Button----- -->
    <div class="form-dialog-conten-button-box-2">
      <div class="form-dialog-conten-button-flex">

        <div class="form-dialog-conten-button-box">
          <div class="form-dialog-conten__button-box">
            <button
              class="form-dialog-conten__button-box__btn"
              type="submit"
              mat-raised-button
              (click)="onSubmit()"
            >
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
