.dashboard{
    display: flex;
    justify-content: space-between;
}
.tableContainer{
    margin-top: 5%;
    width: 90% !important;
    margin-left: 5%;
    margin-right: 5%;
}

highcharts-chart{
    width: 48% !important;
}

.one highcharts-chart{
    width: 100% !important;
 
}
mat-card{
    width: 100% !important;
    padding: 30px;
    tabel{
        border: none;
    }
}
.level{
    background-color: #0091ff;
    color: white;
    font-weight: bold;
    text-align: center;
}