@import "../../../sass/layout/admin-module/user-management";
@import "../../../sass/pages/admin-module/user-management";
@import "../../../sass/pages/admin-module/parameters-settings";
@import "../../../sass/pages/admin-module/mitigation-status";
@import "../../../sass/components/table-mitigation";
@import "../../../sass/components/button";

.user-management__container-1 {
  width: 100%;
  padding: 7rem 3rem 0 3rem;
  margin: 0 auto;
}


// .parameters-settings__button-box__btn {
//   width: 16.6rem;
//   height: 3.2rem;

//   border-radius: 0.5rem;
//   background-color: $color-button-primary !important;

//   box-shadow: 4px 4px 4px 0px #00000040;
//   cursor: url(../../../assets/shared-image/Vector-cursor.svg), pointer !important;
// }

.btn-primary-size {
  width: auto;
  height: auto;
  padding: 0.5rem 1rem;
}