<h1 mat-dialog-title>
  {{ data?.act?.action == "edit" ? "Update" : "New" }} Category
</h1>

<div mat-dialog-content>
  <form *ngIf="userForm" [formGroup]="userForm">
    <mat-form-field class="w-30" appearance="outline">
      <input formControlName="title" matInput placeholder="Title" />
      <mat-error
        class="error"
        *ngIf="userForm.controls?.title.errors?.['required']"
        >Category title is required</mat-error
      >
    </mat-form-field>
    <mat-form-field class="w-30" appearance="outline">
      <textarea
        formControlName="description"
        matInput
        placeholder="Description"
      >
      </textarea>
      <mat-error
        class="error"
        *ngIf="userForm.controls?.description.errors?.['required']"
        >Description is required</mat-error
      >
    </mat-form-field>
    <mat-form-field class="w-auto" appearance="outline">
      <mat-select placeholder="Categorie group" formControlName="category_group_id">
        <mat-option *ngFor="let catGroup of categoryGroup" [value]="catGroup.id">
          {{ catGroup.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div class="buttons" mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onConfirm()">Save</button>
</div>
