<ng-container
  *ngIf="router.isActive('/initiatives/' + id + '/' + initiativeId, true)"
>
  <div class="globalContainer">
    <div class="head">
      <h3 class="primaryColor">
        Risk management for {{ initiative?.name }} ({{
          initiative?.official_code
        }})
      </h3>
      <div class="buttons">
        <button class="primaryButton mt-1" routerLink="./team-members">
          Team Members
        </button>
        <button
          class="primaryButton mt-1"
          matTooltip="Risks Versions"
          routerLink="./versions"
        >
          Published Versions
        </button>
        <button
          [disabled]="!canPublish() || this.NumberOfRisks <= 0"
          (click)="publish(initiative.id)"
          [ngClass]="{ disabled: !canPublish() || this.NumberOfRisks <= 0 }"
          class="primaryButton mt-1"
        >
          Publish
        </button>
        <button
          (click)="export(initiative.id, initiative.official_code)"
          class="primaryButton mt-1"
        >
          Export to excel
        </button>
        <button (click)="exportPdf()" class="primaryButton mt-1">
          Export to pdf
        </button>
        <!-- <button class="primaryButton mt-1"  (click)="openPublishDialog()">Publish</button> -->
        <button
          [disabled]="!canEdit()"
          [ngClass]="{ disabled: !canEdit() }"
          class="primaryButton mt-1"
          (click)="openNewRiskDialog()"
        >
          Create Risk
        </button>
      </div>
    </div>
    <div>
      <app-search-risks
        *ngIf="initiative?.id"
        [initiative_id]="initiative.id"
        (filters)="filter($event)"
      ></app-search-risks>
    </div>

    <div>
      <p style="float: right">
        This is a draft version until it get published. last update at
        {{ initiative?.last_updated_date | date : "short" }}
      </p>
    </div>

    <app-risk-table
      [my_risks]="my_risks"
      [savePdf]="savePdf"
      [dataSource]="dataSource"
      (refresh)="refresh($event)"
    ></app-risk-table>
  </div>
</ng-container>

<router-outlet></router-outlet>
