.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;
    button {
        margin: 0 0.5em;
        border: 1px solid #222;
    }
}
::ng-deep .mat-mdc-dialog-content {
    max-height: 90vh !important;
}
.mt-1 {
    margin-top: 5px !important;
}