//table-style

::ng-deep .mat-sort-header-stem {
  background: none !important;
  width: 16px !important;
  background-image: url("../../../assets/shared-image/Vector-header-sort.svg") !important;
  background-position: center;
  background-size: cover;
  margin-right: -0.3rem !important;
}

::ng-deep .mat-sort-header-indicator {
  opacity: -1% !important;
}

::ng-deep .mat-sort-header-arrow,
[dir="rtl"] .mat-sort-header-position-before .mat-sort-header-arrow {
  margin: 0 0 0 1rem !important;
}

.mtable {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.3rem;
  border-radius: 2px;
  background-color: #d9d9d9;

  @media only screen and (max-width: 160em) {
    margin-left: 0.5rem;
  }
}

.h1 {
  width: 4.3rem;
  height: 1.6rem;
}

.th-3 {
  margin-left: 8.8rem;

  text-align: center;
  @media only screen and (max-width: 41.5em) {
    margin-left: 1px;
  }
}

.h3 {
  width: 6.3rem;
  height: 1.6rem;
}

// .h3 {
//   width: 4.3rem;
//   height: 1.6rem;
// }

// .h4 {
//   width: 4.3rem;
//   height: 1.6rem;
// }

// .h5 {
//   width: 4.3rem;
//   height: 1.6rem;
// }

.m {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.table-header {
  height: 35px;
}

.table-box {
  width: 100%;
  overflow: auto;
  margin-top: 1rem;

  th,
  td {
    /* border: 1px solid #343a40; */
    padding: 0.6rem;
    text-align: left;
  }

  td:nth-child(1) {
    width: 3.4rem;
    height: 3.5rem;
  }

  th:nth-child(2) {
    width: 7.5rem;
  }

  th:nth-child(1) {
    width: 3.4rem;
  }

  th:nth-child(3) {
    width: 27rem;
  }

  td:nth-child(6) {
    width: 12rem;

    text-align: center;
  }

  td:nth-child(2) {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #04030f;
  }

  td:nth-child(3) {
    font-family: "Inter", sans-serif !important;
    width: 27rem;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #030f0b;
  }

  td:nth-child(4) {
    font-family: "Inter", sans-serif !important;
    width: 26rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    color: #030f0b;
  }

  td:nth-child(5) {
    width: 30rem;
    font-family: "Inter", sans-serif !important;

    font-size: 1.2rem;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #030f0b;
  }

  th:last-child {
    text-align: center;
  }

  td:last-child {
    text-align: center;
  }

  td {
    border: 1px solid #b9b9b9;
  }

  th {
    font-family: "Inter", sans-serif !important;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    background-color: #2a2e45;
    color: #ffffff;
    letter-spacing: 0em;
    text-align: center;
  }

  @media only screen and (max-width: 48em) {
    th,
    td {
      padding: 1.6rem;
    }
  }

  @media only screen and (max-width: 34em) {
    th {
      font-size: 1.6rem;
    }

    th {
      padding: 1.4rem;
    }
  }
}
