<section class="section-about-risk">
  <div class="about-risk-container-1">
    <div class="about-risk__title-box">
      <h1 class="about-risk__title-box--title">ABOUT RISK</h1>
    </div>

    <div class="about-risk__text-box">
      <p class="about-risk__text-box--text">
        We believe there is a better way to do marketing. A more valuable way
        where customers are
        <span class="about-risk__text-box--text--1"
          >earned rather than bought</span
        >. We're obsessively passionate about it, and our mission is to help
        people achieve it. We focus on
        <span class="about-risk__text-box--text--2"
          >search engine optimization</span
        >. It's one of the least understood and least transparent aspects of
        great marketing, and we see that as an opportunity. We're excited to
        simplify SEO for everyone
        <span class="about-risk__text-box--text--3">through our software</span>,
        education, and community.
      </p>
    </div>
  </div>
</section>
<section class="section-our-founding">
  <div class="about-risk-container">
    <div class="about-risk__our-founding">
      <div class="our-founding__img-box">
        <img
          src="../../assets/shared-image/Vector-our-founding.svg"
          class="our-founding__img-box__img"
          alt="~/Frontend/images/question-circular-button.svg"
        />
      </div>

      <div class="our-founding__text-box">
        <h2 class="our-founding__text-box__title">Our founding</h2>
        <p class="our-founding__text-box__text">
          Remember that there is a possibility that the result you want to
          report has already been entered into the PRMS Reporting tool. If this
          is the case, it is only necessary to map the result to your
          Initiative. There is no need to enter it as a new result. Please check
          the
          <span class="our-founding__text-box__text--1">results section</span>
          to see if your result has been previously entered.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="our-founding-Polygon">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="46"
    height="27"
    viewBox="0 0 46 27"
    fill="none"
  >
    <path d="M23 27L45.5167 0H0.483339L23 27Z" fill="#A3BAD2" />
  </svg>
</div>

<section class="section-our-founding--2">
  <div class="about-risk-container--1">
    <div class="about-risk__our-founding">
      <div class="our-founding__text-box">
        <h2 class="our-founding__text-box__title our-f-not-padding">
          Our founding
        </h2>
        <p class="our-founding__text-box__text our-f-not-padding">
          Remember that there is a possibility that the result you want to
          report has already been entered into the PRMS Reporting tool. If this
          is the case, it is only necessary to map the result to your
          Initiative. There is no need to enter it as a new result. Please check
          the
          <span class="our-founding__text-box__text--1">results section</span>
          to see if your result has been previously entered.
        </p>
      </div>

      <div class="our-founding__img-box--1">
        <img
          src="../../assets/shared-image/Vector-our-founding.svg"
          class="our-founding__img-box__img"
          alt="~/Frontend/images/question-circular-button.svg"
        />
      </div>
    </div>
  </div>
</section>

<div class="about-risk__variety-tools">
  <div class="variety-tools__title-box">
    <h2 class="variety-tools__title-box--title">Variety of tools</h2>
  </div>

  <div class="variety-tools__content">
    <div class="variety-tools-el tools-e1">
      <div class="variety-tools__logo-box">
        <img
          src="../../assets/shared-image/Reporting-tool.svg"
          class="variety-tools__logo-box__logo"
          alt="~/Frontend/images/Reporting-tool.svg"
        />
        <p class="variety-tools__logo-box__title">Reporting tool</p>
      </div>
      <div class="variety-tools__text-box">
        <p class="variety-tools__text-box__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>

    <div class="variety-tools-el tools-e2">
      <div class="variety-tools__logo-box">
        <img
          src="../../assets/shared-image/Ellipse 43.svg"
          class="variety-tools__logo-box__logo"
          alt="~/Frontend/images/Planning.svg"
        />
        <p class="variety-tools__logo-box__title">Planning</p>
      </div>
      <div class="variety-tools__text-box">
        <p class="variety-tools__text-box__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="variety-tools-el tools-e3">
      <div class="variety-tools__logo-box">
        <img
          src="../../assets/shared-image/Ellipse 43.svg"
          class="variety-tools__logo-box__logo"
          alt="~/Frontend/images/TOC.svg"
        />
        <p class="variety-tools__logo-box__title">TOC</p>
      </div>
      <div class="variety-tools__text-box">
        <p class="variety-tools__text-box__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="variety-tools-el tools-e4">
      <div class="variety-tools__logo-box">
        <img
          src="../../assets/shared-image/OST.svg"
          class="variety-tools__logo-box__logo"
          alt="~/Frontend/images/OST.svg"
        />
        <p class="variety-tools__logo-box__title">OST</p>
      </div>
      <div class="variety-tools__text-box">
        <p class="variety-tools__text-box__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="variety-tools-el tools-e5">
      <div class="variety-tools__logo-box">
        <img
          src="../../assets/shared-image/CL favicon 1.svg"
          class="variety-tools__logo-box__logo"
          alt="~/Frontend/images/CLARISA.svg"
        />
        <p class="variety-tools__logo-box__title">CLARISA</p>
      </div>
      <div class="variety-tools__text-box">
        <p class="variety-tools__text-box__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="variety-tools-el tools-e6">
      <div class="variety-tools__logo-box">
        <img
          src="../../assets/shared-image/Ellipse 43.svg"
          class="variety-tools__logo-box__logo"
          alt="~/Frontend/images/Risk.svg"
        />
        <p class="variety-tools__logo-box__title">Risk</p>
      </div>
      <div class="variety-tools__text-box">
        <p class="variety-tools__text-box__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
</div>
