<div class="form-dialog-header">
  <div class="form-dialog-header__text-box">
    <p class="form-dialog-header__text-box__text">
      {{ faqData.title }}
    </p>
  </div>

  <div class="form-dialog-header__icon-box">
    <button class="form-dialog-header__icon-box__btn" (click)="onCloseDialog()">
      <mat-icon class="form-dialog-header__icon-box__icon-size">
        <img
          class="form-dialog-header__icon-box__icon-size__icon"
          src="../../../assets/shared-image/Vector-close.svg"
          alt="~/Frontend/images/icon _ Vector-close"
        />
      </mat-icon>
    </button>
  </div>
</div>

<div class="form-dialog-content">
  <form [formGroup]="faqForm" class="form-dialog-content">
    <!-- //Question filed----- -->

    <div>
      <div class="form-dialog-content__title-box">
        <mat-label class="form-dialog-content__title-box__title"
          >Question<span class="star">*</span></mat-label
        >
      </div>
      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [toolbar]="toolbar" [editor]="editorQuestion">
        </ngx-editor-menu>
        <ngx-editor
          [editor]="editorQuestion"
          [ngModel]="html"
          [disabled]="false"
          [placeholder]="'Type here...'"
          formControlName="question"
        ></ngx-editor>
      </div>
      <div
        class="alert"
        style="color: red"
        *ngIf="
          faqForm.controls.question.errors && faqForm.controls.question.touched
        "
      >
        <p>This is required max 1500</p>
      </div>
    </div>

    <div>
      <div class="form-dialog-content__title-box">
        <mat-label class="form-dialog-content__title-box__title"
          >Answer<span class="star">*</span></mat-label
        >
      </div>
      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [toolbar]="toolbar" [editor]="editorAnswer">
        </ngx-editor-menu>
        <ngx-editor
          [editor]="editorAnswer"
          [ngModel]="html"
          [disabled]="false"
          [placeholder]="'Type here...'"
          formControlName="answer"
        ></ngx-editor>
      </div>
      <div
        class="alert"
        style="color: red"
        *ngIf="
          faqForm.controls.answer.errors && faqForm.controls.answer.touched
        "
      >
        <p>This is required max 1500</p>
      </div>
    </div>

    <!-- //Update Button----- -->
    <div class="form-dialog-conten-button-box-2">
      <div class="form-dialog-conten-button-flex">
        <!-- <div class="form-dialog-conten__button-box">
          <button
            *ngIf="!announcementData.element"
            class="form-dialog-conten__button-box__btn--send"
            type="submit"
            mat-raised-button
            (click)="onSendAnnouncement()"
          >
            Send
          </button>
        </div> -->

        <div class="form-dialog-conten-button-box">
          <div class="form-dialog-conten__button-box">
            <button
              *ngIf="!faqData.element"
              class="form-dialog-conten__button-box__btn"
              type="submit"
              mat-raised-button
              (click)="onAddFaq()"
            >
              Add
            </button>
          </div>
        </div>

        <button
          *ngIf="faqData.element"
          class="form-dialog-conten__button-box__btn"
          type="submit"
          mat-raised-button
          (click)="onUpdateFaq()"
        >
          Update
        </button>
      </div>
    </div>

    <!-- <div class="form-dialog-content__layout">
    <div>
      <div class="form-dialog-content__title-box">
        <mat-label class="form-dialog-content__title-box__title"
          >First name</mat-label
        >
      </div>
      <mat-form-field
        class="form-dialog-content__field--2"
        floatLabel="always"
        hideRequiredMarker
        appearance="outline"
      >
        <input type="text" matInput formControlName="firstName" required />
      </mat-form-field>
    </div>

    <div>
      <div class="form-dialog-content__title-box">
        <mat-label class="form-dialog-content__title-box__title"
          >Last name</mat-label
        >
      </div>
      <mat-form-field
        class="form-dialog-content__field--3"
        floatLabel="always"
        hideRequiredMarker
        appearance="outline"
      >
        <input type="text" matInput formControlName="lastName" required />
      </mat-form-field>
    </div> -->
    <!-- </div> -->
  </form>
</div>
