.mdc-data-table__header-cell:nth-child(5){
    width: 200px !important;
}
.mdc-data-table__header-cell:nth-child(3){
    width: 200px !important;
}
.mdc-data-table__header-cell:nth-child(2){
    width: 200px !important;
}