<div class="dialogHeader">
    <h1 mat-dialog-title>Action to manage risk</h1>
    <button mat-dialog-close>
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
      </svg>
    </button>
</div>
<div class="dialogBody">
    <form [formGroup]="proposedForm" (ngSubmit)="submit()">
        <mat-form-field class="w-90" appearance="outline">
            <textarea formControlName="description" rows="4" matInput placeholder="Action description"></textarea>
            <mat-icon  matTooltip="Info about the action" matSuffix>help_outline</mat-icon>
            <mat-error class="error" *ngIf="proposedForm.controls['description'].errors?.['required']">Action description is required</mat-error>
            <mat-error
            class="error"
            *ngIf="proposedForm.controls?.description?.errors?.maxword"
            >Max words you can use is {{proposedForm.controls?.description?.errors?.maxword?.max}} you used {{proposedForm.controls?.description?.errors?.maxword.actual}}</mat-error
          >
        </mat-form-field>
        <mat-form-field class="w-90" appearance="outline">
            <mat-select placeholder="Action status" formControlName="mitigation_status_id">
              <mat-option *ngFor="let action of Actions" [value]="action.id">
                {{action.title}}
                  <mat-icon  matTooltip="{{action.description}}" [matTooltipPosition]="'left'" matSuffix>help_outline</mat-icon>
              </mat-option>
             
            </mat-select>
            <mat-icon  matTooltip="Info about the action" matSuffix>help_outline</mat-icon>
          <mat-error class="error" *ngIf="proposedForm.controls['mitigation_status_id'].errors?.['required']">Action status is required</mat-error>
        </mat-form-field>
        
        <div class="end">
          <button class="primaryButton">SAVE</button>
        </div>
    </form>
</div>
