@import "../../abstracts/variables";
.admin-module-box {
  // max-width: 151.2rem;
  // height: 98.6rem;
  display: flex;
  background-color: #fafafa;
  min-height: calc(100vh - 210px);
  &__sidebar {
    // flex: 0 0 25.6rem;
    width: 18%;
    background-color: $color-side-bar;

    @media only screen and (max-width: 160em) {
      flex: 0 0 25.6rem;
    }
  }

  &__content {
    /* 1140px */

    width: 81%;
    height: 100%;
    padding: 0 2.5rem;
    margin-bottom: 9.6rem;

    @media only screen and (max-width: 84em) {
      width: 80%;
    }

    // @media only screen and (max-width: 160em) {
    //   max-width: 95%;
    //   margin: 0 auto;
    // }

    // @media only screen and (max-width: 64em) {
    //   padding: 0 3.2rem;
    // }
  }
}

// .user-management-container {
//   /* 1140px */
//   max-width: 116rem;
//   margin: 0 auto;
//   flex: 0 0 75%;
// }
