.globalContainer {
    padding: 2em !important;
}
.charts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 5% 0 5%;
}

highcharts-chart{
    width: 48% !important;
}
