mat-card {
  margin-bottom: 15px;
  mat-card-actions {
    flex-direction: row;
    justify-content: flex-end;
    button {
      margin-left: 1%;
      margin-right: 1%;
    }
  }
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .w-30 {
      width: 35%;
      margin-left: 1%;
      margin-right: 1%;
    }
    .w-auto {
      width: 20%;
      margin-left: 1%;
      margin-right: 1%;
    }
    mat-form-field {
      span {
        padding-left: 5px;
        color: rgb(97, 97, 97);
      }
    }
  }
}
.w-100 {
  width: 100%;
}
$pendingColor:  #eccf96;
$approvedColor: #8fe0a3;
.areaSpan {
    padding: 0.4em 0.5em; 
    color: #fff; 
    border-radius: 3px;
}
.pending {
    @extend .areaSpan;
    background-color: $pendingColor;
}
.approved {
    @extend .areaSpan;
    background-color: $approvedColor;
}