
<nav>
    <div class="currentUser">

      
      <button mat-raised-button color="primary" routerLink="./users" >Users</button>
      <button mat-raised-button color="primary" routerLink="./categories" >Categories</button>
      <button mat-raised-button color="primary" routerLink="./emails" >Emails</button>
      <button mat-raised-button color="primary" routerLink="./announcement" >Announcement</button>
      <button mat-raised-button color="primary" routerLink="./Settings" >Settings</button>
      <button mat-raised-button color="primary" routerLink="./Mitigation-status" >Actions /Controls to manage risks</button>
    </div>
  </nav>
<router-outlet></router-outlet>
