<nav>
  <div class="logoAndBredcrumb">
    <div class="logo" routerLink="/">Risk Module Prototype</div>
    <div class="bredcrumb">
      <xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
      <ng-template #iconTemplate>
        <mat-icon>chevron_right</mat-icon>
      </ng-template>
    </div>
  </div>
  <div class="currentUser">
    <button mat-raised-button color="primary" routerLink="/admin"  *ngIf="user_info?.role =='admin'" >Admin Aarea</button>

    <button mat-raised-button color="primary" (click)="login()" >{{ user_info?.id? user_info.full_name:'Login' }}</button>

  </div>
</nav>
