nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    .logoAndBredcrumb {
        display: flex;
        align-items: center;
    }
    .logo {
        width: 130px;
        height: 52px;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        letter-spacing: 2px;
        color: rgb(107, 151, 237);
        font-size: 1.7em;
    }
    .bredcrumb {
        margin-left: 40px;
        text-transform: capitalize;
        font-size: 1.1em;
    }
    .currentUser {
        button {
            background-color: unset;
            border: none;
            cursor: pointer;
        }
    }
    
}
