<nav>
  <div class="logoAndBredcrumb">
    <div class="logo" routerLink="/">Risk Module Prototype</div>
    <div class="bredcrumb">
      <xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
      <ng-template #iconTemplate>
        <mat-icon>chevron_right</mat-icon>
      </ng-template>
    </div>
  </div>
  <p class="warning">This tool is in a testing mode. Please expect some technical glitches (incl. data loss) due to development works</p>
  <div class="currentUser">
    <button mat-raised-button color="primary" routerLink="/admin"  *ngIf="user_info?.role =='admin'" >Admin area</button>
    <ngx-avatars *ngIf="user_info" size="35" matTooltip="Logout" (clickOnAvatar)="login()" [name]="user_info?.full_name"></ngx-avatars>
    <button *ngIf="!user_info" mat-raised-button color="primary" (click)="login()" > Login</button>

  </div>
</nav>
<div class="loading-holder">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>
