nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    .logoAndBredcrumb {
        display: flex;
        align-items: center;
    }
    .logo {
        width: 130px;
        height: 52px;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        letter-spacing: 2px;
        color: rgb(107, 151, 237);
        font-size: 1.7em;
        cursor: pointer;
    }
    .bredcrumb {
        margin-left: 40px;
        text-transform: capitalize;
        font-size: 1.1em;
    }
    .currentUser {
        button {
         margin-left: 5px;
         margin-right: 5px;
           
        }
    }
    
}
.loading-holder{
    width: 100%;
    min-height: 4px;
}
