<ng-container>
  <div class="globalContainer">
    <div class="head">
      <h1 class="primaryColor">Users</h1>
      <div class="buttons">
        <button (click)="export()" mat-raised-button color="primary">Export</button>
        <button (click)="add()" mat-raised-button color="primary">Create User</button>
      </div>
    </div>
    <div class="tableContainer">
      <app-search-users (filters)="filter($event)"></app-search-users>
      <app-general-tabel
        (actionEvent)="action($event)"
        [actions]="actions"
        [dataSource]="dataSource"
        [columns]="columns"
      ></app-general-tabel>
    </div>
  </div>
</ng-container>
