
<ng-container *ngIf="router.isActive(path, true)">
    <div class="globalContainer">
        <div class="head">
            <h2 class="primaryColor">Versions Dashboard</h2>
            
        </div>
       <div class="tableContainer">
        <div class="table">
          <table mat-table [dataSource]="dataSource">
              
            <ng-container matColumnDef="Version">
              <th class="big bold center spacing border-left-0 " mat-header-cell *matHeaderCellDef> Version </th>
              <td class="border-left-0 center " mat-cell *matCellDef="let element"> {{element['Version']}} </td>
            </ng-container>


            <ng-container matColumnDef="Version Title">
              <th class="big bold center  spacing" mat-header-cell *matHeaderCellDef> Version Title </th>
              <td  class="center" mat-cell *matCellDef="let element" style="min-width: 140px;"> {{element['Version Title']}} </td>
            </ng-container>


            <ng-container matColumnDef="Publish Reason">
              <th class="big bold center  spacing" mat-header-cell *matHeaderCellDef> Publish Reason </th>
              <td  class="center" mat-cell *matCellDef="let element" style="min-width: 150px;"> {{element['Publish Reason']}} </td>
            </ng-container>

            <ng-container matColumnDef="Creation Date">
              <th class="big bold center  spacing" mat-header-cell *matHeaderCellDef> Creation Date </th>
              <td  class="center" mat-cell *matCellDef="let element" style="min-width: 150px;"> {{element['Creation Date']}} </td>
            </ng-container>

            <ng-container matColumnDef="Creation By">
              <th class="big bold center  spacing" mat-header-cell *matHeaderCellDef> Creation By </th>
              <td  class="center" mat-cell *matCellDef="let element" style="min-width: 180px;"> {{element['Creation By']}} </td>
            </ng-container>

            <ng-container matColumnDef="Actions" stickyEnd>
              <th class="big bold center  spacing" mat-header-cell *matHeaderCellDef> Actions </th>
              <td class="center" mat-cell *matCellDef="let element" style="min-width: 100px;">
                  
                  <button matTooltip="Version Details" mat-button routerLink="{{path}}/{{element['Version']}}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                          <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                      </svg>
                  </button>
                 
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
       </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                               showFirstLastButtons
                               aria-label="Select page of periodic elements">
                </mat-paginator>
        
    </div>
</ng-container>
<router-outlet></router-outlet>

