<ng-container>
  <div class="globalContainer">
    <div class="head">
      <h1 class="primaryColor">Anouncement</h1>
      <div class="buttons"></div>
    </div>
    <div class="tableContainer">
        <form>
            <h1>
                <div class="NgxEditor__Wrapper">
                    <ngx-editor-menu [toolbar]="toolbar" [editor]="editor"> </ngx-editor-menu>
                    <ngx-editor [editor]="editor" [ngModel]="html" [disabled]="false" [placeholder]="'Type here...'"></ngx-editor>
                  </div>
            </h1>
        </form>
    </div></div
></ng-container>
