<div class="container">
    <div class="header">
        <h1 class="primaryColor">Announcement</h1>
        <button  mat-raised-button color="primary" (click)="openFormDialog('')">
            Add announcement
        </button>
    </div>

    <div class="table">
          <table  mat-table [dataSource]="announcementData">
            <ng-container matColumnDef="id">
              <th
                class="big bold center spacing border-left-0"
                mat-header-cell
                *matHeaderCellDef
              >
                ID
              </th>
              <td class="border-left-0 center" mat-cell *matCellDef="let element">
                {{ element.id }}
              </td>
            </ng-container>
  
            <ng-container matColumnDef="subject">
              <th
                class="big bold center spacing"
                mat-header-cell
                *matHeaderCellDef
              >
              Subject
              </th>
              <td
                class="center"
                mat-cell
                *matCellDef="let element"
                style="max-width: 200px"
              >
                {{ element.subject }}
              </td>
            </ng-container>
  
            <ng-container matColumnDef="description">
              <th
                class="big bold center spacing"
                mat-header-cell
                *matHeaderCellDef
              >
                Message
              </th>
              <td
                class="center"
                mat-cell
                *matCellDef="let element"
                style="max-width: 400px"
                [innerHTML]="element.description  | safeHtml"
              >
              </td>
            </ng-container>
  
            <ng-container matColumnDef="status">
              <th
                class="big bold center spacing"
                mat-header-cell
                *matHeaderCellDef
              >
              Status
              </th>
              <td
                class="center"
                mat-cell
                *matCellDef="let element"
              >
                {{ element.status == false ? 'Not send' : 'Sent'}}
              </td>
            </ng-container>
  
            <ng-container matColumnDef="created_at">
              <th
                class="big bold center spacing"
                mat-header-cell
                *matHeaderCellDef
                style="max-width: 100px"
              >
              Created At
              </th>
              <td class="center" mat-cell *matCellDef="let element">
                {{ element.createdAt | date : 'medium' }}
              </td>
            </ng-container>
  
            <ng-container matColumnDef="updated_at">
              <th
                class="big bold center spacing"
                mat-header-cell
                *matHeaderCellDef
                style="max-width: 100px"
              >
              Updated At
              </th>
              <td class="center" mat-cell *matCellDef="let element">
                {{ element.updatedAt  | date : 'medium' }}
              </td>
            </ng-container>
  
            <ng-container matColumnDef="send_date">
              <th
                class="big bold center spacing"
                mat-header-cell
                *matHeaderCellDef
                style="max-width: 100px"
              >
              Send Date
              </th>
              <td class="center" mat-cell *matCellDef="let element">
                {{ element.sendDate  | date : 'medium' }}
              </td>
            </ng-container>
  
            <ng-container matColumnDef="actions" stickyEnd>
              <th
                class="big bold center spacing"
                mat-header-cell
                *matHeaderCellDef
                style="min-width: 200px"
              >
              Actions
              </th>
              <td class="center" mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Edit" [disabled]="element.status == true"  matTooltipPosition="above" (click)="editannouncement(element.id)">
                    <mat-icon class="icon" [ngClass]="element.status == true ? 'disabledIcon': ''">edit</mat-icon>
                </button>
                <button mat-icon-button  matTooltip="Send test" [disabled]="element.status == true" matTooltipPosition="above" (click)="sendTest(element.id)">
                    <mat-icon class="icon" [ngClass]="element.status == true ? 'disabledIcon': ''" >send</mat-icon>
                </button>
                <button mat-icon-button  matTooltip="Send All" [disabled]="element.status == true" matTooltipPosition="above" (click)="sendAll(element.id, element.status)">
                    <mat-icon class="icon" [ngClass]="element.status == true ? 'disabledIcon': ''" >call_made</mat-icon>
                </button>
            </td>
            </ng-container>
  

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
</div>