.dialogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(183, 209, 252);
    color: #fff;
    h1 {
        margin-bottom: 0;
        color: #fff;
    }
    button {
        all: unset;
        cursor: pointer;
        margin: 1em 1.5em;
    }
}
.dialogBody {
    color: #222;
    min-width: 300px;
    padding: 1.5em;
    background-color: rgb(255, 255, 255);
    .w-90 {
        width: 100%;
    }
    .end {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .radio {
        margin: 0.5em 0;
        display: flex;
        align-items: center;
        
        h3 {
            margin-bottom: 0;
            font-size: 1.3em;
            margin-right: 1em;
        }
        h2 {
            margin-top: 0.5em;
            margin-right: 1em;
            font-size: 1.3em;
        }
        .count {
            margin-top: 0.5em;
            width: 80px;
        }
        .radioValue {
            margin-right: 1.5em;
            span {
                font-weight: 600;
                font-size: 1.1em;
            }
        }
    }
    .head {
        margin: 1em 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            margin-bottom: 0;
        }
        button {
            font-weight: bold;
        }
    }
    .submit {
        margin-top: 3em;
        font-weight: bold;
        padding-left: 2em;
        padding-right: 2em;
        font-size: 1.1em;
        border: 1px solid #222;
    }
    .errorMessage {
        font-size: 0.8em !important;
        margin-top: 0.5em;
        color: rgb(233, 91, 91);
    }
}
.mt-2 {
    margin-top: 2em;
}
.multi {
    border: 1px solid rgb(135, 135, 251); padding: 7px 12px; border-radius: 50%; font-weight: bold; font-size: 1.3em; color: rgb(135, 135, 251);
}