$color-button-primary: #9e553e;

$color-main-header-risk-primary: #0f212f;
$color-main-nav-link-primary: #436280;

$color-main-header-risk-secondary: #04030f;
$color-main-nav-link-secondary: #0f212f;

$color-user-nav-primary: #436280;
$color-user-nav-secondary: #0f212f;

$color-button-nav-link: #ffffff;

$color-side-bar: #0f212f;

$color-anchor-side-bar: #a3bad24d;
