

.mat-expansion-panel-header {
    background-color: #94929233;

}

.mat-expansion-panel-header-title  {
    p {
        margin: 0;
    }
    .icons {
        mat-icon{
            color: rgb(107, 151, 237);
        }
    }
    justify-content: space-between;
    margin-right: 0 !important;
}

.mat-content.mat-content-hide-toggle {
    margin-right: 0 !important;
}

.mat-expansion-panel {
    margin-bottom: 16px;
}

.mat-accordion>.mat-expansion-panel-spacing:last-child {
    margin-bottom: 10px;
}