<div class="globalContainer">
    <div class="head">
        <h2 class="title">User Guide</h2>
    </div>

    <div class="content">
        <p><span class="title">Current likelihood:</span> the likelihood of the risk materializing within a given time horizon that could result into the impact level assigned, taking into account any existing controls and actions in place and working</p>
    </div>
    <div class="content">
        <p><span class="title">Current impact:</span>the expected impact on objectives if the risk materialises, taking into account any existing controls and actions in place and working </p>
    </div>
    <div class="content">
        <p><span class="title">Target likelihood:</span>the targeted likelihood of the risk occurring within a given time horizon that could result into the targeted impact level assigned. Target likelihood could be achieved by putting in place additional controls and actions to manage the risk likelihood</p>
    </div>
    <div class="content">
        <p><span class="title">Target impact:</span> the targeted expected impact on objectives if the risk materialises. Target impact could be achieved by putting in place additional controls and actions to manage risk impact</p>
    </div>
</div>