<ng-container *ngIf="router.isActive(path, true)">
  <div class="globalContainer">
    <div class="head">
      <h3 class="primaryColor">
        {{ initiative?.name}} - Version -
        {{ id }}.
      </h3>
      <div class="buttons">
        <button (click)="export()" class="primaryButton mt-1">
          Export to excel
        </button>
      </div>
    </div>
    <app-risk-table
      [showingVersion]="true"
      [dataSource]="dataSource"
      [showReduntent]="showReduntent"
    ></app-risk-table>
  </div>
</ng-container>
