<section
  class="section-risk-management-component"
  *ngIf="router.url === riskUrl.home"
>
  <div class="risk-management-container">
    <div class="risk-management-content">
      <!-- step-1 -->
      <div class="risk-management-title-box">
        <h1 class="risk-management-title-box__title">Risk management</h1>
      </div>

      <!-- step-2 -->
      <div class="risk-management-form-field-box">
        <form
          [formGroup]="riskManagementForm"
          class="risk-management-form-field-box"
        >
          <!-- //Initiative ID----- -->
          <div class="risk-management-form-field field-1">
            <mat-label class="risk-management-form-field__label"
              >Initiative ID</mat-label
            >

            <input
              hideToggle="true"
              class="risk-management-form-field-box__input"
              matInput
              placeholder="    INIT  - |  ID"
              #input
            />

            <img
              src="../../../assets/shared-image/search-icon.svg"
              class="risk-management-search-icon"
              alt="~/Frontend/images/search-icon.svg"
            />
          </div>

          <!-- //Initiative name----- -->
          <div class="risk-management-form-field field-2">
            <mat-label class="risk-management-form-field__label"
              >Initiative name</mat-label
            >

            <input
              hideToggle="true"
              class="risk-management-form-field-box__input-2"
              matInput
              placeholder="Search"
              #input
            />

            <img
              src="../../../assets/shared-image/search-icon.svg"
              class="risk-management-search-icon-2"
              alt="~/Frontend/images/search-icon.svg"
            />
          </div>

          <!-- //Risk category----- -->
          <div class="risk-management-form-field field-3">
            <mat-label class="risk-management-form-field__label"
              >Risk category</mat-label
            >

            <mat-select
            panelClass="x"
              class="risk-management-form-field-box__input-3 aa"
              [placeholder]="'All'"
              id="select-where"
              required
            >
              <!-- <mat-option class="placeholder" selected disabled [value]="author_id">
                {{ author_name }}
              </mat-option> -->
              <mat-option value="a">a</mat-option>
              <mat-option value="b">b</mat-option>
            </mat-select>
          </div>

          <!-- //Status----- -->
          <div class="risk-management-form-field field-4">
            <mat-label class="risk-management-form-field__label"
              >Status</mat-label
            >

            <mat-select
              class="risk-management-form-field-box__input-4"
              [placeholder]="'All'"
              id="select-where"
              required
            >
              <!-- <mat-option class="placeholder" selected disabled [value]="author_id">
                  {{ author_name }}
                </mat-option> -->
              <mat-option value="a">a</mat-option>
              <mat-option value="b">b</mat-option>
            </mat-select>
          </div>

          <!-- //My role----- -->
          <div class="risk-management-form-field field-4">
            <mat-label class="risk-management-form-field__label"
              >My role</mat-label
            >

            <mat-select
              class="risk-management-form-field-box__input-4"
              [placeholder]="'All'"
              id="select-where"
              required
            >
              <!-- <mat-option class="placeholder" selected disabled [value]="author_id">
                    {{ author_name }}
                  </mat-option> -->
              <mat-option value="a">a</mat-option>
              <mat-option value="b">b</mat-option>
            </mat-select>
          </div>

          <!-- //Sort----- -->
          <div class="risk-management-form-field field-4">
            <mat-label class="risk-management-form-field__label"
              >Sort</mat-label
            >

            <mat-select
              class="risk-management-form-field-box__input-4"
              [placeholder]="'None'"
              id="select-where"
              required
            >
              <!-- <mat-option class="placeholder" selected disabled [value]="author_id">
                    {{ author_name }}
                  </mat-option> -->
              <mat-option value="a">a</mat-option>
              <mat-option value="b">b</mat-option>
            </mat-select>
          </div>

          <!-- //Reset Button----- -->
          <div class="risk-management-form-field field-5">
            <button
              class="risk-management-btn"
              mat-raised-button
              (click)="onReset()"
            >
              Reset
            </button>
          </div>
        </form>
      </div>
      <!-- step-3 -->

      <!-- start change about reisk-management btn-export-to-excel -->
      <div class="risk-management-export">
        <div class="risk-management-export-box">
          <form class="risk-management-export-box">
            <div>
              <mat-label>My initiatives</mat-label>
              <mat-checkbox></mat-checkbox>
            </div>
            <!-- //Reset Button----- -->
            <div>
              <button
                class="risk-management-btn-export"
                mat-raised-button
                (click)="onExportToExcel()"
              >
                <mat-icon class="risk-management-export-box-icon">
                  <img
                    src="../../../assets/shared-image/Vectors.svg"
                    class="risk-management-export-icon"
                    alt="~/Frontend/images/search-icon.svg"
                /></mat-icon>

                Export to excel
              </button>
            </div>
          </form>
        </div>
      </div>

      <!-- start change about reisk-management btn-export-to-excel -->

      <!-- step-3 -->
      <div class="table-box">
        <div class="table-box">
          <table
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z8 risk-managment-table"
            matSort
          >
            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

            <!-- iNITCode Column -->
            <ng-container matColumnDef="iNITCode">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>
                <div class="mtable">INIT Code</div>
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="mtable">{{ element.iNITCode }}</div>
              </td>
            </ng-container>

            <!-- initiativeName Column -->
            <ng-container matColumnDef="initiativeName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <span class="h1">Initiative name</span>
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.initiativeName }}
              </td>
            </ng-container>

            <!-- riskCategory Column -->
            <ng-container matColumnDef="riskCategory">
              <th mat-header-cell *matHeaderCellDef>
                <span class="th-3">Risk category</span>
              </th>
              <td mat-cell *matCellDef="let element">
                <span class="td-3-h">{{ element.riskCategory }}</span>
              </td>
            </ng-container>

            <!-- numOfRisks Column -->
            <ng-container matColumnDef="numOfRisks">
              <th mat-header-cell *matHeaderCellDef>
                <span class="h3">Num of risks</span>
              </th>
              <td mat-cell *matCellDef="let element">
                <span class="td-h">{{ element.numOfRisks }}</span>
              </td>
            </ng-container>

            <!-- myRole Column -->
            <ng-container matColumnDef="myRole">
              <th mat-header-cell *matHeaderCellDef>
                <span class="h4">My role</span>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.myRole }}</td>
            </ng-container>

            <!-- status Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>
                <span class="h4">Status</span>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.status }}</td>
            </ng-container>

            <!-- Actions Name Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>
                <span class="h5">Actions</span>
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="m">
                  <button
                    style="
                      border: none;
                      cursor: pointer;
                      background-color: #ffffff;
                    "
                  >
                    <mat-icon
                      (click)="onClickView()"
                      class="user-management-table__icon"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="23"
                        height="16"
                        viewBox="0 0 23 16"
                        fill="none"
                      >
                        <path
                          d="M11.5 0.5C6.5 0.5 2.23 3.61 0.5 8C2.23 12.39 6.5 15.5 11.5 15.5C16.5 15.5 20.77 12.39 22.5 8C20.77 3.61 16.5 0.5 11.5 0.5ZM11.5 13C8.74 13 6.5 10.76 6.5 8C6.5 5.24 8.74 3 11.5 3C14.26 3 16.5 5.24 16.5 8C16.5 10.76 14.26 13 11.5 13ZM11.5 5C9.84 5 8.5 6.34 8.5 8C8.5 9.66 9.84 11 11.5 11C13.16 11 14.5 9.66 14.5 8C14.5 6.34 13.16 5 11.5 5Z"
                          fill="#9E553E"
                        /></svg
                    ></mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>

            <tr
              class="table-header"
              mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></tr>
            <tr
              class="table-header"
              mat-row
              *matRowDef="let row; columns: displayedColumns"
            ></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-risk-report-component">
  <router-outlet></router-outlet>
</section>
